<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<!-- For IE -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- For Resposive Device -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- For Window Tab Color -->
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#2c2c2c">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#2c2c2c">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#2c2c2c">

	<title>Home</title>

	<!-- Main style sheet -->
	<link rel="stylesheet" type="text/css" th:href="@{/gp/css/style5.css}">
	<!-- responsive style sheet -->
	<link rel="stylesheet" type="text/css" th:href="@{/gp/css/responsive1.css}">
	<!-- Theme-Color css -->
	<link rel="stylesheet" id="jssDefault" th:href="@{/gp/css/color1.css}">
	<link th:href="@{/gp/css/styles.css}" rel="stylesheet">
	<script th:src="@{/gp/js/modernizr.js}"></script>
	<link rel="stylesheet" th:href="@{/gp/css/layui.css}"  media="all">
	<link rel="stylesheet" th:href="@{/gp/css/global.css}" media="all">
	<link rel="stylesheet" th:href="@{/gp/css/loadmore.css}">
	<link rel="stylesheet" th:href="@{/gp/css/weui.css}">

	<style>
		.site-demo-tplh2{
			height: 80px;
		}
		.site-demo-tplh2 img{
			height: 90px;
			border-radius: 100px;
			float:left;
		}
		.site-demo-tplh2 #title{
			margin-top: 20px;
			margin-left: 40%;
			font-weight: bold;
			font-size: 25px;
		}
		.site-demo-tplview{
			background-color: #fff;
		}
		#pc-kk-form-list{
			height: 50px;
			border: none;
		}
		#pc-kk-form-list-clear{
			height: 50px;
			border:none;
		}
		#last{
			height: 50px;
			border:none;
		}
		header #nav ul li a{
			font-size: 14px;
		}
	</style>
	<style>
		#zhuxiao:hover{
			background-color: rgba(234, 234, 234, 0.51);
		}

		#concerned{
			float: right;
			font-size: 14px;
			text-decoration: none;
			margin-top: 5%;
		}
		#concerned:hover{
			text-decoration: underline;
			color: blue;
		}
	</style>
	<style>
		#zhuxiao:hover{
			background-color: rgba(234, 234, 234, 0.51);
		}
	</style>

	<!--<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>-->
	<script th:src="@{/gp/vendor/html5shiv.js}"></script>
	<script th:src="@{/gp/vendor/respond.js}"></script>



</head>

<body>
<header>
	<nav id="nav">
		<ul>
			<li><a th:href="@{/shop1/shoppic.action}" target="_blank" id="nav_current">首页</a></li>
			<li><a th:href="@{/posts/remen}"  target="_blank">热门</a></li>
			<li><a th:href="@{/shop/page}" target="_blank">商家</a></li>
			<li><a th:href="@{/Fashimg.action}" target="_blank">达人</a></li>
			<li><a th:href="@{/topic}" target="_self">部落</a></li>
			<li><a th:href="@{/personal}" target="_blank" >我的</a></li>
			<li><a th:href="@{/tous}" target="_blank">网站简介</a></li>
			<li id="userLi" style="position: relative;left: 700px">

					<span  th:if="${session.user != null}">
    				欢迎您,
    				<span th:text="${session.user.userName}"></span>
						<a th:href="@{/loginout.action}" id="zhuxiao">注销</a>
					</span>


				<span th:unless="${session.user != null}">
						<a class="btn" th:href="@{/toLogin}">请登录</a>
					</span>

			</li>
		</ul>
		<!--<script th:src="@{/gp/../js/silder.js"></script>&lt;!&ndash;获取当前页导航 高亮显示标题&ndash;&gt;-->
	</nav>
</header>
<div class="search-box" id="searchWrapper">
	<div id="close-button"></div>
	<div class="container">
		<form action="#">
			<div class="greeting-text"><span class="greeting"></span></div>
			<div class="input-wrapper">
				<input type="text" placeholder="type your keyword" autofocus>
			</div>
		</form>
	</div>
</div> <!-- /.search-box -->

<!--
=============================================
    Main Blog Post Wrapper
==============================================
th:each="shops:${shopsList}
-->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-12 blog-grid-style hover-effect-one" id="xunhuan">
			 <!-- /.single-blog-post -->

			 <!-- /.single-blog-post -->
			 <!-- /.single-blog-post -->
			<!-- /.single-blog-post -->
			 <!-- /.single-blog-post -->

		</div>
			<!--加载更多按钮-->


			<script th:src="@{/gp/js/zepto.min.js}"></script>

			<script>
                $(function(){

                    /*初始化*/
                    var counter = 0; /*计数器*/
                    var pageStart = 0; /*offset*/
                    var pageSize = 4; /*size*/

                    /*首次加载*/
                    getData(pageStart, pageSize);

                    /*监听加载更多*/
                    $(document).on('click', '.js-load-more', function(){
                        counter ++;
                        pageStart = counter * pageSize;

                        getData(pageStart, pageSize);
                    });
                    function GetQueryString(name)
                    {
                        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
                        var r = window.location.search.substr(1).match(reg);//search,查询？后面的参数，并匹配正则
                        if(r!=null)return  unescape(r[2]); return null;
                    }


                    function getData(offset,size){
                       var fashionerId=GetQueryString("fashionerId");
                       var posterId=GetQueryString("posterId");
                        $.ajax({
                            type: "get",
                            url: "/check1/Fashdetail1"+"?"+"fashionerId"+"="+fashionerId, //这里offset,size无作用，仅方便调试
                            dataType: 'json',
							success: function(response){
                                var data = response;
                                var sum = response.length;

                                var result = '';

                                /************业务逻辑块：实现拼接html内容并append到页面*****************/

                                //console.log(offset , size, sum);

                                /*如果剩下的记录数不够分页，就让分页数取剩下的记录数
                                * 例如分页数是5，只剩2条，则只取2条
                                *
                                * 实际MySQL查询时不写这个不会有问题
                                */
                                if(sum - offset < size ){
                                    size = sum - offset;
                                }

//                                {"cardId":2,"cardImgsrc":"http://ph584gplc.bkt.clouddn.com/%E8%BE%BE%E4%BA%BA%E8%AF%A6%E6%83%852.jpg","fashionerId":1},{"cardId":3,"cardImgsrc":"http://ph584gplc.bkt.clouddn.com/%E8%BE%BE%E4%BA%BA%E8%AF%A6%E6%83%8510.jpg","fashionerId":1},{"cardId":4,"cardImgsrc":"http://ph584gplc.bkt.clouddn.com/%E8%BE%BE%E4%BA%BA%E8%AF%A6%E6%83%851.jpg","fashionerId":1},{"cardId":5,"cardImgsrc":"http://ph584gplc.bkt.clouddn.com/%E8%BE%BE%E4%BA%BA%E8%AF%A6%E6%83%853.jpg","fashionerId":1},{"cardId":6,"cardImgsrc":"http://ph584gplc.bkt.clouddn.com/%E8%BE%BE%E4%BA%BA%E8%AF%A6%E6%83%854.jpg","fashionerId":1},{"cardId":7,"cardImgsrc":"http://ph584gplc.bkt.clouddn.com/%E8%BE%BE%E4%BA%BA/2/344305121b6cfee8d6e866b6c4d2f1aa.jpg","fashionerId":1}]]
                                /*使用for循环模拟SQL里的limit(offset,size)*/
                                for(var i=offset; i< (offset+size); i++){
                                    result +='<div class="single-blog-post" style="margin-top: 40px">'+'<div class="image-box"><img src="'+data[i].cardImgsrc+'" alt="">></div>'+
                                        '<div class="post-meta-box bg-box" style="margin-top: -30px">' +
                                        '\t\t\t\t\t<p>"'+data[i].carddescript+'"</p>\n' +
                                        '\t\t\t\t</div>'+
									'</div>';
                                }

                                $("#xunhuan").append(result);
                                /*******************************************/

                                /*隐藏more*/
                                if ( (offset + size) >= sum){
                                    $(".js-load-more").hide();
                                }else{
                                    $(".js-load-more").show();
                                }
                            },
                            error: function(){

                            }
                        });
                    }
                });
			</script>
			<script th:src="@{/gp/js/tj.js}"></script>
		<!-- /.col- -->

		<!--&lt;!&ndash; ======================== Theme Sidebar =============================== &ndash;&gt;-->
		<div class="col-lg-4 col-md-7 col-12 theme-main-sidebar">
		<div class="sidebar-box bg-box about-me">
		<h6 class="sidebar-title">关于我</h6>

		<a th:href="@{/posts/person(posterid=3)}"><img th:src="@{/gp/images/touxiang4.jpg}"  alt=""></a>
		<p>帅就完事了</p>
		</div> <!-- /.about-me -->
			<!-- /.sidebar-categories -->





		 <!-- /.sidebar-categories -->

		</div> <!-- /.theme-main-sidebar -->
	</div> <!-- /.row -->
</div> <!-- /.container -->

<button class="js-load-more">加载更多</button>
<!--
=====================================================
    Footer
=====================================================
-->
<!-- Scroll Top Button -->
<button class="scroll-top tran3s">
	<i class="fa fa-angle-up" aria-hidden="true"></i>
</button>



<!-- Optional JavaScript _____________________________  -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- jQuery -->
<script th:src="@{/gp/vendor/jquery.2.2.3.min.js}"></script>
<!-- Popper js -->
<script th:src="@{/gp/vendor/popper.js/popper.min.js}"></script>
<!-- Bootstrap JS -->
<script th:src="@{/gp/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!-- Style-switcher  -->
<script th:src="@{/gp/vendor/jQuery.style.switcher.min.js}"></script>
<!-- jquery-easy-ticker-master -->
<script th:src="@{/gp/vendor/jquery-easy-ticker-master/jquery.easy-ticker.min.js}"></script>
<!-- jquery easing -->
<script th:src="@{/gp/vendor/jquery.easing.1.3.js}"></script>
<!-- Font Awesome -->
<script th:src="@{/gp/fonts/font-awesome/fontawesome-all.min.js}"></script>
<!-- Master Slider -->
<script th:src="@{/gp/vendor/masterslider/masterslider.min.js}"></script>
<!-- menu  -->
<script th:src="@{/gp/vendor/menu/src/js/jquery.slimmenu.js}"></script>
<!-- owl.carousel -->
<script th:src="@{/gp/vendor/owl-carousel/owl.carousel.min.js}"></script>
<!-- Fancybox -->
<script th:src="@{/gp/vendor/fancybox/dist/jquery.fancybox.min.js}"></script>
<!-- Youtube Video -->
<script th:src="@{/gp/vendor/jquery.fitvids.js}"></script>

<!-- Theme js -->
<script th:src="@{/gp/js/theme.js}"></script>
</div> <!-- /.main-page-wrapper -->
</body>
</html>
