<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--关注的达人-->
<article th:each="poster:${fashioner.list}">
    <h2 class="title" th:text="${poster.postername}"></h2>
    <ul class="text">
        <p th:text="${poster.posterintro}"></p>
        <p class="textimg"><img th:src="${poster.posterpic}"></p>
    </ul>
    <div class="textfoot">
        <a th:href="@{/posts/person(posterid=${poster.posterid})}">阅读全文</a>
    </div>
</article>
</body>
</html>